<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/percentage" method="post">
		<label>Enter Student name :</label> 
		<input type="text" name="name" />
		<br /> 
		<label>Enter the First Subject Marks</label>
		<input type="number" name="sub1" />
		<br/>
		<label>Enter the Second Subject Marks</label> 
		<input type="number" name="sub2" />
		<br />
		<label>Enter the Third Subject Marks</label> 
		<input type="number" name="sub3" /> 
		<br /> 
		<label>Enter the Fourth Subject Marks</label> 
		<input type="number" name="sub4" /> 
		<br /> 
		<label>Enter the Fifth Subject Marks</label>
		<input type="number" name="sub5" /> 
		<br />  
		<input type="submit" value="Check Percentage" />
		
	</form>
</body>
</html>